<!doctype html>
<html>
  <head>
    <title>AI Governance Platform | Armadillex</title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="Discover which AI tools are approved for use, request access to new products, and understand approval decisions. Your complete portal for AI resource governance and transparency."
    />
    <meta
      name="format-detection"
      content="telephone=no"
    />
    <meta
      name="msapplication-tap-highlight"
      content="no"
    />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <!-- Open Graph / Facebook -->
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:url"
      content="__BASE_DOMAIN__"
    />
    <meta
      property="og:title"
      content="AI Governance Platform | Armadillex"
    />
    <meta
      property="og:description"
      content="Discover which AI tools are approved for use, request access to new products, and understand approval decisions. Your complete portal for AI resource governance and transparency."
    />
    <meta
      property="og:image"
      content="__BASE_DOMAIN__/thumbnail.png"
    />

    <!-- Twitter -->
    <meta
      property="twitter:card"
      content="summary_large_image"
    />
    <meta
      property="twitter:url"
      content="__BASE_DOMAIN__"
    />
    <meta
      property="twitter:title"
      content="AI Governance Platform | Armadillex"
    />
    <meta
      property="twitter:description"
      content="Discover which AI tools are approved for use, request access to new products, and understand approval decisions. Your complete portal for AI resource governance and transparency."
    />
    <meta
      property="twitter:image"
      content="__BASE_DOMAIN__/thumbnail.png"
    />

    <!-- Favicon -->
    <link
      rel="icon"
      href="/favicon.ico"
      sizes="any"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon-48x48.png"
      sizes="48x48"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon-16x16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />

    <!-- Apple Touch Icon -->
    <link
      rel="apple-touch-icon"
      href="/apple-touch-icon.png"
      sizes="180x180"
    />
    <!-- Font awesome icons -->
    <script
      src="https://kit.fontawesome.com/bff55a59ce.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="preload"
      href="./src/assets/fonts/DMSans-VariableFont_opsz,wght.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
